/* Table  */

.container {
	width: 100%;
	overflow-y: auto;
	overflow-x: auto;
}

.table {
	width: 100%;
	height: 250px;
	text-align: center;
}

table, td, th{
	border-collapse: collapse;
	border: 1px solid #dde;	
}

td,th {
	padding: 10px;
}

@media screen and (min-width: 320px) and (max-width : 575px) {
	.container {
		overflow-x: auto;
	}
}

@media screen and (max-height: 400px) and (min-width : 800px) and (orientation: landscape) {
	.container {
		overflow-x: auto;
	}
}